#tank-page {
    margin: 0 auto;
    width: calc(100% - 2rem);
    max-width: 60rem;
    display: grid;
    grid-template-columns: 1fr 18rem;
    gap: 1rem;
}

#tank-page-sidebar > .tank-preview {
    width: 100%;
    aspect-ratio: 1/1;
    background: var(--section-bg);
    border-radius: 0.75rem;
    box-shadow: var(--shadow);
}

#tank-page-sidebar > .section {
    margin-top: 1rem;
    background: var(--section-bg);
    border-radius: 0.75rem;
    box-shadow: var(--shadow);
}

#tank-page-sidebar > .section > .title {
    text-align: center;
    padding: 0.5rem 0.5rem 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 500;
}

#tank-page-sidebar > .section > .tank-grid {
    display: flex;
    padding: 0.25rem;
    flex-wrap: wrap;
    justify-content: center;
}
#tank-page-sidebar > .section > .tank-grid > .tank {
    margin: 0.25rem;
    width: calc((100% - 2rem) / 4);
    border-radius: 0.5rem;
    background-image: linear-gradient(to bottom, rgba(0,0,0, 0.36), rgba(0,0,0,0.62)), linear-gradient(to bottom, var(--color), var(--color));
    cursor: pointer;
    transition: transform 300ms, filter 300ms;
    overflow: hidden;
    text-decoration: none;
}
#tank-page-sidebar > .section > .tank-grid > .tank:hover {
    transform: scale(1.1);
    filter: brightness(1.3);
}

#tank-page-sidebar > .section > .tank-grid > .tank > svg {
    aspect-ratio: 1/1;
    height: auto;
    width: 100%;
    transform: scale(1.5);
}
#tank-page-sidebar > .section > .tank-grid > .tank > .name {
    text-align: center;
    font-size: 0.875rem;
    padding-bottom: 0.25rem;
    opacity: 0.875;
    color: var(--text-1);
    text-decoration: none;
}


#tank-page-sidebar > .title {
    text-align: center;
    padding: 0.5rem 0.5rem 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 1rem;
}
#tank-page-sidebar > .section > .stats-header {
    height: 5rem;
    display: flex;
    margin-bottom: 0.5rem;
    align-items: center;
    width: 100%;
}
#tank-page-sidebar > .section > .stats-header > .title {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 1rem;
    font-size: 1.125rem;
    font-weight: 500;
}

#tank-page-sidebar > .section > .stats-header > svg {
    width: 5rem;
    height: 5rem;
}

#tank-page-sidebar > .section.stats {
    padding-bottom: 0.25rem;
}


#tank-page-sidebar > .stats-settings {
    margin-top: 0.75rem;
}

#tank-page-sidebar > .stats-settings > .row {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 0.25rem;
    align-items: center;
    height: 1.5rem;
}
#tank-page-sidebar > .stats-settings > .row > .name {
    display: flex;
    align-items: center;
}



#tank-page-sidebar > .stats-settings > .row > input,
#tank-page-sidebar > .stats-settings > .row > .build-input > input {
    height: 1.5rem;
    border: none;
    background: var(--section-bg);
    border-radius: 0.25rem;
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 1rem;
    width: 3rem;
    outline: none;
    padding-bottom: 0.125rem;
}
#tank-page-sidebar > .stats-settings > .row > input:focus,
#tank-page-sidebar > .stats-settings > .row > .build-input > input:focus {
    box-shadow: inset 0 0 0 0.125rem #ffffff44;
    background: var(--light-section-bg)
}

#tank-page-sidebar > .stats-settings > .row > input::-webkit-outer-spin-button,
#tank-page-sidebar > .stats-settings > .row > .build-input > input::-webkit-outer-spin-button,
#tank-page-sidebar > .stats-settings > .row > input::-webkit-inner-spin-button,
#tank-page-sidebar > .stats-settings > .row > .build-input > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


#tank-page-sidebar > .stats-settings > .row > .build-input {
    position: relative;
    height: 1.5rem;
}
#tank-page-sidebar > .stats-settings > .row > .build-input > input {
    position: absolute;
    inset: 0;
    opacity: 0;
    width: 100%;
}
#tank-page-sidebar > .stats-settings > .row > .build-input > input:focus {
    opacity: 1;
}


#tank-page-sidebar > .stats-settings > .row > .build-input > .preview {
    display: flex;
    gap: 0.125rem;
    padding: 0.125rem 0.25rem;
    user-select: none;
    height: 1.5rem;
}
#tank-page-sidebar > .stats-settings > .row > .build-input > .preview > .point-count {
    position: relative;
    height: 100%;
    width: 1rem;
    display: grid;
    place-content: center;
    font-size: 0.875rem;
    isolation: isolate;
    color: var(--text-1);
    padding-bottom: 0.125rem;
}
#tank-page-sidebar > .stats-settings > .row > .build-input > .preview > .point-count:after {
    position: absolute;
    content: "";
    inset: 0 -10%;
    background: color-mix(in srgb, rgb(80,80,80), var(--color) 35%) ;
    z-index: -1;
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
}
#tank-page-sidebar > .stats-settings > .row > .build-input > .preview > .point-count:first-child::after {
    width: 1.25rem;
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
    left: auto;
    border-radius: 5rem 0 0 5rem;
}
#tank-page-sidebar > .stats-settings > .row > .build-input > .preview > .point-count:last-child::after {
    width: 1.25rem;
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
    right: auto;
    border-radius: 0 5rem 5rem 0;
}



#tank-page-sidebar > .stats-settings > .row > .selector {
    display: flex;
    height: 100%;
}

#tank-page-sidebar > .stats-settings > .row > .selector > .option {
    height: 100%;
    display: grid;
    place-content: center;
    padding: 0 0.5rem;
    border-radius: 0.25rem;
    color: var(--text-3);
    cursor: pointer;
    user-select: none;
}

#tank-page-sidebar > .stats-settings > .row > .selector > .option[data-active="true"] {
    background: var(--light-section-bg);
    color: var(--text-1);
    cursor: auto;
}
