#home-page {
  margin: 0 auto;
  width: calc(100% - 2rem);
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#home-page > .banner {
  width: 100%;
  aspect-ratio: 3 / 1;
  position: relative;
  border-radius: 0.75rem;
  overflow: hidden;
  pointer-events: none;
}

#home-page > .banner > .credit-text {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.125rem 0.25rem;
  font-weight: 600;
  color: white;
  text-shadow: 0 0 0.5rem #000000, 0 0 0.5rem #000000;
  pointer-events: all;
}

#home-page > .banner > img {
  position: absolute;
  inset: 0;
  width: 100%;
  user-select: none;
}

#home-page > .banner > .text {
  transform: scale(1.05) translate(calc(var(--parallax-x) * 1rem), calc(var(--parallax-y) * 0.75rem));
}
#home-page > .banner > .background,
#home-page > .banner > .overlay {
  transform: scale(1.05) translate(calc(var(--parallax-x) * 0.5rem), calc(var(--parallax-y) * 0.375rem));
}




#home-page > .partners-title {
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-3);
  text-align: center;
  margin-top: 0.5rem;
}

#home-page > .partner-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

#home-page > .partner-links > .partner-banner {
  border-radius: 0.75rem;
  width: 100%;
  aspect-ratio: 3/1.125;
  background: #191919;
  transition: transform 300ms ease;
  overflow: hidden;
  position: relative;
}
#home-page > .partner-links > .partner-banner:hover {
  transform: scale(1.05);
}

#home-page > .partner-links > .partner-banner > img {
  position: absolute;
  inset: 0;
  width: 100%;
  transition: transform 300ms ease;
}

#home-page > .partner-links > .partner-banner > .placeholder {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--text-3);
  text-align: center;
  opacity: 0.4;
}

#home-page > .partner-links > .partner-banner:hover > img {
  transform: scale(1.025);
}