


.record-proof {
    display: none;
    position: absolute;
    inset: 100% auto auto 50%;
    transform: translateX(-50%);
    width: max-content;
    
    padding: 0.25rem 0.5rem;
    background: var(--light-section-bg);
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: var(--shadow);
    flex-direction: column;
    gap: 0.5rem
}

.column:hover > .record-proof {
    display: flex;
}

.column:hover > .record-proof > a {
    color: white
}

.record-proof > iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}



#tanks-page-settings > .platform-selector {
    display: flex;
}
#tanks-page-settings > .platform-selector > .platform {
    border-radius: 0.5rem;
    height: 2.5rem;
    padding: 0 1rem;
    cursor: pointer;
    display: grid;
    place-content: center;
    color: var(--text-2);
}
#tanks-page-settings > .platform-selector > .platform[data-is-active="true"] {
    background: var(--section-bg);
    font-weight: 600;
    color: var(--text-1);
}
