


.record-proof {
    display: none;
    position: absolute;
    inset: 100% auto auto 50%;
    transform: translateX(-50%);
    width: max-content;
    
    margin-top: 0.5rem;
    padding: 0.25rem 0.5rem;
    background: var(--light-section-bg);
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: var(--shadow);
}

.column:hover > .record-proof {
    display: block;
}
