.tank-preview {
    position: relative;
    aspect-ratio: 1/1;
    background: var(--section-bg);
    border-radius: 0.75rem;
    box-shadow: 0 0 2rem color-mix(in srgb, var(--color) 50%, transparent)
}
.tank-preview > svg {
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
}

.tank-preview > .corner-button {
    position: absolute;
    top: 0;
    width: 2rem;
    height: 2rem;
    margin: 0.75rem;
    display: grid;
    place-content: center;
    filter: brightness(0.6);
    transition: filter 150ms;
}
.tank-preview > .corner-button:hover {
    filter: brightness(0.8)
}

.tank-preview > .toggle-download {left: 0;}
.tank-preview > .toggle-settings {right: 0;}
.tank-preview > .corner-button > img {
    width: 1.5rem;
    height: 1.5rem;
}


.tank-preview > .preview-download {
    position: absolute;
    z-index: 10;
    background: var(--dark-section-bg);
    border-radius: 0.5rem;
    inset: 3.5rem 0.5rem auto 0.5rem;
    box-shadow: var(--shadow);
    padding: 0.125rem;
    animation: preview-download-in 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.tank-preview > .preview-download > .option {
    height: 2rem;
    display: grid;
    place-content: center;
    text-decoration: underline;
    cursor: pointer;
}
@keyframes preview-download-in {
    from {
        transform: translateY(-2rem);
        opacity: 0;
    }
}


.tank-preview > .preview-settings {
    position: absolute;
    z-index: 10;
    background: var(--dark-section-bg);
    border-radius: 0.5rem;
    inset: 75% 0.5rem auto 0.5rem;
    inset: auto 0.5rem 0.5rem 0.5rem;
    box-shadow: var(--shadow);
    padding: 0.125rem;
    animation: preview-settings-in 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
@keyframes preview-settings-in {
    from {
        transform: translateY(2rem);
        opacity: 0;
    }
}
.tank-preview > .preview-settings[data-active="false"],
.tank-preview > .preview-download[data-active="false"] {
    animation: none;
    display: none;
}

.tank-preview > .preview-settings > .setting-row {
    height: 2rem;
    display: grid;
    grid-template-columns: 4.5rem 3rem 1fr;
    padding: 0 0.5rem;
    place-content: center;
}
.tank-preview > .preview-settings > .setting-row:has(input[type="color"]) {
    grid-template-columns: 6rem 4.5rem 1fr;
}
.tank-preview > .preview-settings > .setting-row:has(input[type="checkbox"]) {
    grid-template-columns: 6rem 4.5rem 1fr;
}
.tank-preview > .preview-settings > .setting-row.grid-alpha {
    grid-template-columns: 6rem 4.5rem 1fr;
}

.tank-preview > .preview-settings > .setting-row > .name {
    display: flex;
    align-items: center;
}
.tank-preview > .preview-settings > .setting-row > input[type="number"],
.tank-preview > .preview-settings > .setting-row > input[type="text"] {
    height: 1.5rem;
    background: #444;
    border: none;
    border-radius: 0.25rem;
    color: var(--text-1);
    padding-left: 0.25rem;
}
.tank-preview > .preview-settings > .setting-row > input[type="range"] {
    margin-left: 0.5rem;
    width: auto;
    width: 7rem;
}
.tank-preview > .preview-settings > .setting-row.grid-alpha > input[type="range"] {
    width: 4.5rem;
}


.tank-preview > .preview-settings > .setting-row > input[type="color"] {
    width: 4.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;
    border-radius: 0.25rem;
}



.tank-preview > .preview-settings > .setting-row > input[type="color"] {
    appearance: none;
    -webkit-appearance: none;
    border: none;
}
.tank-preview > .preview-settings > .setting-row > input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
}
.tank-preview > .preview-settings > .setting-row > input[type="color"]::-webkit-color-swatch {
    border: none;
}




